.btn-main {
	background-color: white;
	padding: 5px 10px;
	border-radius: 4px;
	color:#2F4F4F;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

.btn-main:hover {
	background-color: #6B72E1;
	color: white;
}

.btn-icon {
	color: #483806;
	font-size: 35px;
	margin: 10px;
}

.btn-icon:hover {
	color: #6B72E1;
}